/* Start IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* End IMPORTS */

/* START AOS */

[data-aos]{
  visibility: hidden;
}

[data-aos].aos-animate{
  visibility: visible;
}

/* END AOS */

*{
    margin: 0;

    padding: 0;

    box-sizing: border-box;

    overflow-x: hidden;
}

/* START variables */

:root{
    --burntsienna: #EE6C4D;

    --coral: #F38D68;

    --rebeccapurple: #662C91;

    --persiangreen: #17A398;
    
    --jet: #33312E;
}

/* END variables */

/* START Homepage styles */

body{
    display: flex;

    align-items: center;

    justify-content: center;

    background-color: var(--jet);

    width: 100%;

    height: 1000vh;
}

.navigation{
    position: absolute;

    top: 150%;

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    grid-template-rows: 1fr;

    grid-column-gap: 65px;

    align-items: center;

    justify-content: center;

    text-align: center;

    width: 75%;

    height: fit-content;
    
    background-color: #17A39845;

    border: 4px solid #33312E75;

    border-radius: 65px;
}

.ltext{
    color: var(--jet);

    font-family: 'Nunito Sans', sans-serif;

    font-weight: bold;
    
    font-size: 45px;

    cursor: default;

    user-select: none;
}

.ltext:hover{
    transform: scale(105%);

    color: color-mix(in var(--jet) 75% var(--rebeccapurple) 25%);
}

.yt{
    width: 128px;

    height: 53.75px;
}

.yt:hover{
    transform: scaleX(105%);
}

.gh{
    width: 100px;

    height: 100px;
}

.gh:hover{
    transform: scale(105%);
}

/* END Homepage styles */

/* START classlists */

body.scroll-locked{
    overflow: hidden;
}

/* END classlists */