/* Start IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* End IMPORTS */

*{
    margin: 0;

    padding: 0;

    box-sizing: border-box;

    overflow-x: hidden;
}

/* START variables */
/* END variables */

/* START Homepage styles */

body{
    display: flex;

    align-items: center;

    justify-content: center;

    background-color: white;

    width: 100%;

    height: fit-content;
}

.navigation{
    position: absolute;

    top: 0px;

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    grid-template-rows: 1fr;

    grid-column-gap: 65px;

    align-items: center;

    justify-content: center;

    text-align: center;

    width: 100%;

    height: fit-content;
    
    background-color: #2d3142;
}

.ltext{
    color: white;

    font-family: 'Nunito Sans', sans-serif;

    font-weight: bold;
    
    font-size: 45px;

    cursor: default;

    user-select: none;
}

.ltext:hover{
    color: #ef8354;
}

/* END Homepage styles */

/* START classlists */
/* END classlists */