*{
    margin: 0;

    padding: 0;

    box-sizing: border-box;

    overflow-x: hidden;
}

body{
    display: flex;

    align-items: center;

    justify-content: center;

    background-color: #2d3142;

    width: 100%;

    height: 100vh;
}

.discord{
    background-image: url("/assets/images/discord.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 211px;
    height: 44px;
}

.discord:hover{
    background-image: url("/assets/images/discord_hovered.svg");
}